In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Exemplo de DataFrame
data = {
    'PassengerId': [1, 2, 3],
    'Survived': [1, 0, 1],
    'Pclass': [3, 1, 3],
    'Name': ['Name1', 'Name2', 'Name3'],
    'Sex': ['male', 'female', 'female']
}
df_train = pd.DataFrame(data)

In [5]:
df_train.loc[0:4, 'Survived':'Sex']

   Survived  Pclass   Name     Sex
0         1       3  Name1    male
1         0       1  Name2  female
2         1       3  Name3  female

In [6]:
df_train.loc[0:4, 'Sex']

0      male
1    female
2    female
Name: Sex, dtype: object

In [7]:
df_train.loc[0:4]['Sex']

0      male
1    female
2    female
Name: Sex, dtype: object

In [9]:
df_train.iloc[0:4, 2:4]

   Pclass   Name
0       3  Name1
1       1  Name2
2       3  Name3